.crystal {
    height: 155px;
}

.container {
    width: 720px;
}

.card-header {
    padding: 12px 0px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0,0,0,0);
}

.header-text {
    text-shadow: 2px 2px teal;
    font-family: Chango;
    margin-top: 50px;
    font-size: 50px;
}

.card {
    opacity: 0.85;
    width: 675px;
}

.counter-header-box {
    background-color: white;
    width: 675px;
    position: relative;
    top: -12px;
    right: -16px;
    opacity: 0.80;
}

img {
    opacity: 0.75;
    margin: 10px 10px 0px 0px;
}

p {
    margin: 5px 10px 5px 10px;
}

h3 {
    font-weight: normal;
    margin-top: 5px;
}

body {
    background-image: url("../images/crystal-background.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}